#home-carousel {
  margin: 0;
  
  .highlight-form {
    margin: 20px auto;
    background-color: #fff;
  }
  
  .carousel-context {
    margin: 0;
  }
  
  .carousel-indicators {
    left: auto;
    width: auto;
    margin-left: 15px;
    
    > li {
      border-width: 2px;
      
      &:not(.active) {
        background-color: #fff !important;
      }
      
      &.active {
        background-color: transparent !important;
      }
    }
  }

  @media (max-width: $screen-md-max) {
    .item-img {
      background-position: left 26% center;
    }
  }
  @media (min-width: $screen-md-min) {
    .item-img {
      height: 450px;
    }
  }
  @media (min-width: $screen-lg-min) {
    .item-img {
      height: 650px;
    }
    
    .highlight-form {
      position: absolute;
      z-index: 100;
    }
  }
}
