.schedule-granvia{
  
  .schedule{
    background-color: #ededed;
    padding: 30px;
    
    i {
      background-size: cover;
      height: 42px;
      width: 44px;
    }
  }
  
  .time{
    margin: 20px 0 0 0;
    &:first-child{
      margin: 0;
    }
  }

  h2, h3{
    color: #202020;
    font-size: 1.929em;
    font-weight: 700;
  }

  h2{
    margin: 0 0 7px 0;
    text-transform: uppercase;
  }

  h3{
    margin: 0 0 12px 0;
  }

  h4{
    font-weight: 700;
    margin: 0 0 3px 0;
    text-transform: uppercase;
  }

  time{
    display: block;
    font-size: 0.857em;
  }

  a{
    font-size: 0.857em;
    font-weight: 700;
  }
  
}

@media (min-width: $screen-sm-min) {
  
  #schedule-module{
    .time{
      margin: 10px 0;
      &:first-child{
        margin: 10px 0;
      }
    }
  }
  
}

@media (min-width: $screen-md-min) {
  
  #schedule-module{
    h2,h3{
      font-size: 1.729em;
    }
  }
  
}

@media (min-width: $screen-lg-min){
 
  #schedule-module{
    h2,h3{
      font-size: 1.929em;
    }
  }
  
}