<div id="about-content-module">
  <div class="">
    <div class="sobre row">
      <div class="col-xs-12">
        <h2>
          <small>Certificados e</small>
          <big>prêmios</big>
        </h2>
        <div class="conteudo">
          <p>Desde a sua inauguração, a concessionária ViaSul Arruda conta com o sistema Fiat Autocentro para facilitar a vida dos seus clientes. Depois foi a vez da ViaSul Piedade incluir mais essa comodidade no seu leque de serviços.</p>

          <p>Com um novo conceito em atendimento na área de pós-vendas, o Fiat Autocentro consiste numa oficina, localizada em uma área coberta dentro da concessionária, para realização de pequenas tarefas em até quatro horas.</p>
          <p>Agilizar o serviço realizando um agendamento prévio. Além disso, o cliente pode acompanhar de perto todo o trabaseu veículo. No Fiat Autocentro também podem ser encontrados kits de peças com pagamentos facilitados e, o melhor, com a mão-de-obra inclusa.</p>

          <p>Desse modo, a ViaSul coloca, ao alcance de seus clientes, serviços totalmente garantidos com a qualidade das peças originais Fiat.</p>
        </div>
      </div>
      <div class="col-xs-12">
        <h2>
          <small>Projetos</small>
          <big>sociais</big>
        </h2>
        <div class="conteudo">
          <p>Preocupado em melhorar a qualidade de vida da sociedade, o Grupo ViaSul/Eurovia realiza diversas ações em prol das comunidades e instituições envolvidas com a empresa. Foi nesse contexto que surgiu o Comitê Social ViaSul/Eurovia. O comitê se reúne periodicamente para realizar os planos de ação, que se transformam em realidade através de doações, em parceria com seus funcionários e outras empresas, de serviços ou produtos. Dessa maneira o Grupo ajuda a fazer a diferença na vida de muita gente.</p>
        </div>
      </div>
    </div>
  </div>
</div>