<div id="about-content-module">
  <div class="">
    <div class="sobre row">
      <div class="col-xs-12">
        <h2>
          <small>Sobre a</small>
          <span class="big">Granvia</span>
        </h2>
        <div class="conteudo">
          <p>Uma concessionária Fiat com perfil inovador e proposta diferenciada de atendimento e prestação de serviços aos clientes. Essa foi a idéia de lançamento da ViaSul em novembro de 1992. Seguindo a linha de um dos grupos automobilísticos mais sólidos de Pernambuco, hoje, a ViaSul conta com duas concessionárias em Recife e uma em Fortaleza. Além dessas lojas, ainda fazem parte do grupo: a Eurovia Nissan, a Eurovia Renault (presentes em Recife e em Salvador) , além da Intervia, revendedora dos automóveis Kia (presente em Recife).</p>

          <p>Atualmente, considerada uma referência pela Fiat, a ViaSul vem alcançando a liderança de vendas em Pernambuco por onze anos consecutivos. A Concessionária conta, também, com a conquista de importantes prêmios, como o Padrão de Atendimento Fiat, o Excelência Fiat e o Qualidade Total de Atendimento Fiat.</p>
          <p>Confiança no atendimento, conforto e variedade. Estas são apenas algumas das vantagens oferecidas pela ViaSul aos seus clientes. Aqui você ainda conta com equipes de vendas e pós-vendas treinadas constantemente, tratamento diferenciado na compra e no pós-venda; atendimento pré-agendado; supergarantia exclusiva de três anos para motor e câmbio e, claro, os melhores preços e condições de financiamento.</p>

          <p>A ViaSul também oferece serviços especiais como o Programa Fiat Autonomy – desenvolvido para a adaptação de carros para portadores de deficiência física, além de trabalhar com toda parte de venda e pós-venda do Ducato – um veículo comercial versátil, econômico e de excelente desempenho, na medida para o seu negócio.</p>
        </div>
      </div>
    </div>
  </div>
</div>