<div class="car">
  <a href="">
    <figure>
      <img src="{{ carro.image[0].image }}" alt="{{ carro.name }}">
      <figcaption>{{ carro.name }}</figcaption>
    </figure>
    
    <a href="" class="btn btn-default btn-see-more">Conheça</a>
  </a>
</div>
