<div id="consortium-form-module">
  <div class="">
    <div class="consortium-form row">
      <div class="col-xs-12">
        <h2>
          <small>Preencha o Formulário</small>
          <span class="big">e Solicite uma Cotação</span>
        </h2>
      </div>
      <form action="">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
          
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 icon-container form-group">
            <label for="name">Nome</label>
            <i class="fa fa-user"></i>
            <input name="name" id="name" type="text" placeholder="Nome" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
            <label for="phone">Telefone</label>
            <i class="fa fa-phone"></i>
            <input name="phone" id="phone" type="text" placeholder="Telefone" class="form-control">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon-container form-group">
            <label for="email">E-mail</label>
            <i class="fa fa-envelope"></i>
            <input name="email" id="email" type="text" placeholder="E-mail" class="form-control">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 icon-container form-group">
            <label for="unidade">Loja</label>
            <i class="fa fa-map-marker"></i>
            <!-- <input name="unidade" id="unidade" type="text" placeholder="Selecione" class="form-control"> -->
            <select name="unidade" id="unidade" class="form-control">
              <option value="">Selecione</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 icon-container form-group">
            <label for="model">Modelo Pretendido</label>
            <i class="fa fa-car"></i>
            <select name="model" id="model" class="form-control">
              <option value="">Selecione o Modelo</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
          <label for="message">Observações</label>
          <textarea name="message" id="message" cols="30" rows="5" class="form-control"></textarea>
        </div>
        <div class="col-xs-12">
          <button class="btn btn-default" type="submit">Enviar</button>
        </div>
      </form>
      
    </div>
  </div>
</div>