<div id="direct-structure-module">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
        {% include 'conceptual.html' %}
        <div class="tabs">
          <div class="row">
            <div class="col-lg-3">
              <ul class="sale-type">
                <li class="active"><a data-toggle="tab" href="#locadoras">Locadoras</a></li>
                <li><a data-toggle="tab" href="#frotistas">Frotistas</a></li>
                <li><a data-toggle="tab" href="#taxistas">Taxistas</a></li>
                <li><a data-toggle="tab" href="#produtores-rurais">Produtores rurais</a></li>
                <li><a data-toggle="tab" href="#mais-alimentos">Mais alimentos</a></li>
                <li><a data-toggle="tab" href="#governo">Governo</a></li>
                <li><a data-toggle="tab" href="#programa">Programa</a></li>
                <li><a data-toggle="tab" href="#autonomy">Autonomy</a></li>
                <li><a data-toggle="tab" href="#adaptacoes">Adaptações</a></li>
              </ul>
            </div>
            <div class="col-lg-9">
              <div class="tab-content">
                {% include 'direct-sale-info.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="direct-form col-xs-12 col-sm-12 col-md-4 col-lg-3">
        <div class="row">
          {% include 'direct-sale-form.html' %}
        </div>
      </div>
    </div>
  </div>
</div>