<div id="locadoras" class="tab-pane fade in active">
  <img src="../../src/images/conceptual-locadora.png" alt="" style="width: 100%;">
  <p>A Fiat possui know-how e condições diferenciadas para atender às Locadoras de Veículos.</p>
  <p>Com uma vasta gama de produtos, adquirindo um Fiat você conta com qualidade, segurança, custo-benefício além do melhor valor de revenda e aceitação no mercado.</p>
  <p>Possuímos também uma extensa Rede de Concessionárias em todo Brasil, com suporte de pós-vendas especializada para melhor lhe atender.</p>
  <p>Vá até uma Concessionária Fiat e fale com um Consultor de Vendas Diretas.</p>
</div>

<div id="frotistas" class="tab-pane fade">
  <p>Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste.</p>
</div>

<div id="taxistas" class="tab-pane fade">
  <p>Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste.</p>
</div>

<div id="produtores-rurais" class="tab-pane fade">
  <p>Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste.</p>
</div>

<div id="mais-alimentos" class="tab-pane fade">
  <p>Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste.</p>
</div>

<div id="governo" class="tab-pane fade">
  <p>Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste.</p>
</div>

<div id="programa" class="tab-pane fade">
  <p>Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste.</p>
</div>

<div id="autonomy" class="tab-pane fade">
  <p>Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste.</p>
</div>

<div id="adaptacoes" class="tab-pane fade">
  <p>Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste.</p>
</div>
