<div class="box info-box">
  <div class="top-content col-xs-12 col-sm-5 col-md-5 col-lg-6">
    <div class="wrap-icon">
      <i class="rw rw-hour-phone"></i>
    </div>
    <div class="title">
      Ligue para o <span class="big">Tele-Peças</span>
    </div>
  </div>
  <div class="hours col-xs-12 col-sm-7 col-md-7 col-lg-6">
    <b>Segunda a sexta</b> 08h às 18h | <b>Sábado</b> 08h às 12h <br>
    <b>Telefone</b> (81) 3015-7030 | Recife
  </div>
</div>