<div class="box info-box-3">
  <div class="top-content col-xs-12 col-sm-5 col-md-5 col-lg-12">
    <div class="wrap-icon">
      <i class="rw rw-hour-cogs"></i>
    </div>
    <div class="title"> 
      <h3>Horário de Funcionamento das Oficinas</h3>
    </div>
  </div>
  <div class="hours col-xs-12 col-sm-7 col-md-7 col-lg-12">
    <div class="unidade">
      <h4>Imbiribeira</h4>
      <b>Segunda a sexta</b> 08h às 18h <br> <b>Sábado</b> 08h às 12h
    </div>
    <div class="unidade">
      <h4>Caxangá</h4>
      <b>Segunda a sexta</b> 08h às 18h <br> <b>Sábado</b> 08h às 12h
    </div>
  </div>
</div>