<div id="newsletter-module" class="container">
  <div class="newsletter">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <h2>Receba Novidades</h2>
      </div>
      <form role="form">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 icon-container form-group">
          <i class="fa fa-user"></i>
          <input name="name" type="text" placeholder="Nome" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 icon-container form-group">
          <i class="fa fa-envelope"></i>
          <input name="email" type="email" placeholder="E-mail" class="form-control">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 form-group">
          <button class="btn btn-default" type="submit">Ok</button>
        </div>
      </form>
    </div>
  </div>
</div>