<div class="regions-viasul-fiat">
  <h2>
    <small>Regiões Atendidas</small>
    <span class="big">Recife</span>
  </h2>
  <div class="regions">
    <ul>
      {% for city in 0..23 %}
        <li>Nome da Cidade</li>
      {% endfor %}
    </ul>
  </div>
</div>