<div id="region-detail-structure-viasul-fiat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% include 'conceptual.html' %}
      </div>
      <div class="col-xs-12 col-md-4">
        <h2>
          <span class="big">Nome da Cidade</span>
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae sequi totam consectetur culpa eveniet magni explicabo quidem eaque architecto, cumque maxime natus. Laudantium, ut, nobis. Itaque et distinctio praesentium deleniti, neque. Tempore aspernatur ex eum, dolores tempora possimus est, voluptate iste, earum amet iusto repellendus eius culpa eveniet! Rem, quas.</p>
      </div>
      <div class="col-xs-12 col-md-8">
        {% include 'map.html' %}
      </div>
    </div>
  </div>
</div>