<div id="schedule-module" class="schedule-granvia container">
  <div class="schedule">
    <div class="row">
      {% for l in lojas %}
      <div class="time col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-xs-12">
            <h3>
               <span class="hidden-xs">ViaSul Fiat - </span>
              {{ l.store|capitalize }}
            </h3>
          </div>
          <div class="col-xs-12 col-md-2 hidden-xs">
            <i class="rw rw-hour-phone rw-gray"></i>
          </div>
          <div class="col-xs-12 col-md-10">
            <h4>Agendamento de Serviços</h4>
            <time>
              Segunda a sexta: 7:30h&nbsp;às&nbsp;17:30h<br>
              Sábado: 8:00h&nbsp;às&nbsp;12:00h
            </time>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>