<div class="col-md-12 no-padding especificacoes">
  <div class="col-md-12">
    <h2>Ficha técnica</h2>
    <span class="select-version hidden-xs hidden-sm hidden-md">Selecione a versão</span>
    <ul class="version_list models-open">
      {% for model in carro.models %}
      <li class="version_item version-default">
        <label>
          <input type="checkbox" getModel="model{{loop.index}}" getActive="{% if loop.index < 4 %}sim{% else%}nao{%endif%}"   {% if loop.index < 4 %}checked{% endif %} />
          <i></i>
          <span>{{model.name|upper}}</span>
        </label>
      </li>
      {% endfor %}
    </ul>
    <ul class="version_list models-open-mobile hidden-xs hidden-sm hidden-md">
      {% for model in carro.models %}
      <li class="version_item version-mobile">
        <label>
          <input type="checkbox" getModel="model{{loop.index}}" getActive="{% if loop.index < 4 %}sim{% else%}nao{%endif%}"   {% if loop.index < 4 %}checked{% endif %} />
          <i></i>
          <span>{{model.name|upper}}</span>
        </label>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-12">
    <dl class="feature_list">
      <dt class="title">
        <ul class="feature_title">
          <li style="width:20%;"></li>
          {% for model in carro.models %}
          <li class="title_item model{{loop.index}}" style="{% if loop.index > 3 %}display:none;{% endif %}">{{model.name}}</li>
          {% endfor %}
        </ul>
      </dt>

      <dd class="feature_item">
        {% for infocategory in carro.informations %}
        <h3>{{ infocategory.name }}</h3>
        
        {% for info in infocategory.infos %}
        <ul class="feature_value">
          <li class="value_item title">{{info.name}}</li>
          {% for value in info.values %}
          <li class="value_item model{{loop.index}}" style="{% if loop.index > 3 %}display:none;{% endif %}" >{{value.description|raw}}</li>
          {% endfor %}
        </ul>
        {% endfor %}
        
        {% endfor %}
      </dd>
    </dl>

    <dl class="feature-list-mobile">
      <dd class="feature_item">
        {% set count = 1 %}
        {% for model in carro.models %}
        <ul class="feature_value model{{loop.index}}">
          <li class="col-md-12 model-name"><strong>{{ model.name }}</strong></li>
          {% for infocategory in carro.informations %}
          {% for info in infocategory.infos %}
          <li class="value_item title col-md-4"><strong>{{info.name}}</strong></li>
          {% for value in info.values %}
          {% if count == loop.index %}
          <li class="value_item col-md-8" style="{% if loop.index > 3 %}display:none;{% endif %}" >{{value.description|raw}}</li>
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% endfor %}
        </ul>
        {% set count = count + 1 %}
        {% endfor %}
      </dd>
    </dl>

  </div>
</div>
