<div id="workshop-tips-structure-viasul-fiat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% include 'conceptual.html' %}
      </div>
      <div class="col-xs-12 col-lg-8">
        {% include 'workshop-tips-info.html' %}
      </div>
      <div class="col-xs-12 col-lg-4">
        {% include 'workshop-form.html' %}
      </div>
    </div>
  </div>
</div>