<div class="workshop-info">
  <h2>
<<<<<<< HEAD
    <small>Assistência</small>
    <span class="big">Técnica</span>
=======
    <small>Ford</small>
    <span class="big">Assistance</span>
>>>>>>> remotes/lucas_gauer/granvia/master
  </h2>
  <p>A ViaSul se destaca das demais concessionárias pela qualidade e variedade nos serviços prestados.</p>
  <p>Certificada com os padrões de Atendimento Fiat, tanto para área de vendas como de pós-vendas, a ViaSul segue todas as normas estabelecidas pela montadora, garantindo um atendimento diferenciado para seus clientes na hora da compra e também nos serviços de manutenção. Segurança e confiança nos serviços, com pontualidade nos prazos, são as marcas registradas da ViaSul. É isso que faz da gente uma concessionária de verdade.</p>

  {% include 'info-box-2.html' %}
  
  <h2>
<<<<<<< HEAD
    <small>Conheça o</small>
    <span class="big">Autocentro</span>
=======
    <small>Revisão</small>
    <span class="big">Preço Fixo</span>
>>>>>>> remotes/lucas_gauer/granvia/master
  </h2>
  <p>Desde a sua inauguração, a concessionária ViaSul Arruda conta com o sistema Fiat Autocentro para facilitar a vida dos seus clientes. Depois foi a vez da ViaSul Piedade incluir mais essa comodidade no seu leque de serviços.</p>
  <p>Com um novo conceito em atendimento na área de pós-vendas, o Fiat Autocentro consiste numa oficina, localizada em uma área coberta dentro da concessionária, para realização de pequenas tarefas em até quatro horas.</p>
  <p>Lá tudo é mais rápido e barato, e você pode ir no horário que lhe for mais conveniente. Caso prefira, também pode agilizar o serviço realizando um agendamento prévio. Além disso, o cliente pode acompanhar de perto todo o trabalho realizado pelo mecânico enquanto aguarda a liberação do seu veículo. No Fiat Autocentro também podem ser encontrados kits de peças com pagamentos facilitados e, o melhor, com a mão-de-obra inclusa.</p>
  <p>Desse modo, a ViaSul coloca, ao alcance de seus clientes, serviços totalmente garantidos com a qualidade das peças originais Fiat.</p>
  <h2>
<<<<<<< HEAD
    <small>Funilaria</small>
    <span class="big">e Pintura</span>
  </h2>
  <p>O Centro de Repintura Automotiva da ViaSul oferece um serviço de qualidade e dentro do prazo de entrega estabelecido.</p>
  <p>Equipamentos de última geração – como as lixadeiras pneumáticas, ideais para a remoção da pintura antiga, e um aparelho que faz a leitura exata do veículo – dão a garantia de 5 anos para os trabalhos realizados.</p>
  <p>O Centro de Repintura da ViaSul está pronto para receber seu veículo 24 horas por dia. Tudo para seu bem-estar e conforto.</p>
  <p>Com o objetivo de prestar serviços rápidos, de até um dia, para mossas e arranhões, o programa Sempre Novo da ViaSul funciona para quem procura praticidade e preço baixo.</p>
  <p>Nele, a ViaSul conta com profissionais qualificados pelo padrão Fiat, além de equipamentos especiais e materiais de alta qualidade.</p>
=======
    <small>Serviço Total</small>
    <span class="big">Ford</span>
  </h2>
  <p>Ao levar seu Ford para a Granvia para verificar serviços em garantia, revisões periódicas e manutenções, você encontra uma equipe especializada que vai atendê-lo com rapidez e cordialidade, além de avaliar o carro em detalhes.</p>
  <h2>
    <small>Box</small>
    <span class="big">Rápido</span>
  </h2>
  <p>A Granvia disponibiliza uma série de serviços úteis para seus clientes. Com agilidade e dinamismo, você perde pouco tempo e ser carro volta melhor. Confira os serviços disponíveis e entre em contato.</p>
>>>>>>> remotes/lucas_gauer/granvia/master
</div>