<div class="workshop-tips-info">
  <h2>
    <small>Dicas de</small>
    <span class="big">Manutenção</span>
  </h2>
  
  <div class="wrap-info">
    
    <div class="accordion-item">
      <a data-type="bateria">
        <h3>1. Bateria</h3>
        <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="bateria" class="accordion-content">
      <p>Teste</p>
    </div>
    
    <div class="accordion-item">
      <a data-type="ar-condicionado">
        <h3>2. Ar Condicionado Limpeza do Sistema de Ar-Condicionado</h3>
        <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="ar-condicionado" class="accordion-content">
      <p>Quando usamos o ar, existe uma circulação que vem de fora e esse sempre traz impurezas que vão se acumulando nas caixas de ventilação e no filtro de pólen. Essa limpeza aliada à troca do filtro a cada 20.000 km ajuda a não proliferação de fungos e ácaros prejudiciais à saúde. O filtro de cabine, também chamado de filtro de ar condicionado, tem a função de reter pólens e outra partículas indesejáveis do ar, além de assegurar uma atmosfera mais saudável dentro do veículo. Todos os veículos com ar condicionado têm filtro de cabine. Por que trocar o filtro de cabine?</p>
      <p>O Filtro de cabine purifica o ar na parte interna do veículo, especialmente na cabine, onde há perigo de uma concentração 3 a 6 vezes maior de partículas e resíduos de fumaça cancerígenos derivados do ar aspirado da atmosfera.</p>
      <p>Quando trocar o filtro de cabine? Verifique o manual do proprietário ou siga as instruções do fabricante do veículo. No entanto é recomendada uma inspeção do estado do filtro de cabine no máximo a cada 15.000 km. Se houver um intervalo muito grande entre as trocas, bactérias e fungos podem se instalar nos dutos de ventilação, ocasionando odores extremamente desagradáveis na parte interna do veículo e risco de problemas e doenças respiratórias. Todavia, em veículos expostos a altos índices de poluição deve-se realizar a inspeção visual do filtro em intervalos menores. Quando novo, o filtro é branco e, quanto mais escuro estiver, mais comprometida está a sua capacidade de retenção.</p>
    </div>
    
    <div class="accordion-item">
      <a data-type="embreagens">
        <h3>3. Embreagens</h3>
        <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="embreagens" class="accordion-content">
      <p>Teste</p>
    </div>
    
    <div class="accordion-item">
      <a data-type="oleo-motor">
        <h3>4. Óleo de Motor</h3>
        <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="oleo-motor" class="accordion-content">
      <p>Teste</p>
    </div>
    
    <div class="accordion-item">
      <a data-type="filtro-oleo">
        <h3>5. Filtro Óleo</h3>
        <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="filtro-oleo" class="accordion-content">
      <p>Teste</p>
    </div>
    
    <div class="accordion-item">
      <a data-type="disco-freio">
        <h3>6. Disco de Freio</h3>
        <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="disco-freio" class="accordion-content">
      <p>Teste</p>
    </div>
    
    <div class="accordion-item">
      <a data-type="pastilha-freio">
        <h3>7. Pastilha de Freio</h3>
        <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="pastilha-freio" class="accordion-content">
      <p>Teste</p>
    </div>
    
    <div class="accordion-item">
      <a data-type="tambor-freio">
        <h3>8. Tambor de Freio</h3>
        <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="tambor-freio" class="accordion-content">
      <p>Teste</p>
    </div>
    
    <div class="accordion-item">
      <a data-type="filtro-combustivel">
        <h3>9. Filtro de Combustível</h3>
        <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="filtro-combustivel" class="accordion-content">
      <p>Teste</p>
    </div>
    
    <div class="accordion-item">
      <a data-type="cabo-vela">
        <h3>10. Cabo de Vela</h3>
        <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="cabo-vela" class="accordion-content">
      <p>Teste</p>
    </div>
    
    <div class="accordion-item">
      <a data-type="velas">
        <h3>11. Velas</h3>
        <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="velas" class="accordion-content">
      <p>Teste</p>
    </div>
    
    <div class="accordion-item">
      <a data-type="correia-dentada">
        <h3>12. Correia Dentada</h3>
        <i class="fa fa-caret-down"></i>
      </a>
    </div>
    <div id="correia-dentada" class="accordion-content">
      <p>Teste</p>
    </div>
  </div>
  
</div>