{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        Fiat Linea 2016<br>
        <small>
          <span class="price">R$ 50.000</span>2015/2015
        </small>
      </h1>
    </div>
    <div class="col-xs-12 col-md-8">
      {% include 'shared/carousel-detail.html' %}
    </div>
    <div class="col-xs-12 col-md-4 pull-right">
      <section>
        {% include 'shared/quote-form.html' %}
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8">
      <section class="car-info">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#informacoes">Informações gerais</a></li>
          <li><a href="#opcionais">Opcionais</a></li>
        </ul>
        <div class="tab-content">
          <div id="informacoes" class="tab-pane fade in active">
            <dl class="row">
              <dt class="col-xs-6 col-md-3">Ano</dt>
              <dd class="col-xs-6 col-md-3">2007/2007</dd>

              <dt class="col-xs-6 col-md-3">Cor</dt>
              <dd class="col-xs-6 col-md-3">Preto</dd>

              <dt class="col-xs-6 col-md-3">Quilometragem</dt>
              <dd class="col-xs-6 col-md-3">120.054</dd>

              <dt class="col-xs-6 col-md-3">Câmbio</dt>
              <dd class="col-xs-6 col-md-3">Automático</dd>

              <dt class="col-xs-6 col-md-3">Ano</dt>
              <dd class="col-xs-6 col-md-3">2007/2007</dd>

              <dt class="col-xs-6 col-md-3">Cor</dt>
              <dd class="col-xs-6 col-md-3">Preto</dd>

              <dt class="col-xs-6 col-md-3">Quilometragem</dt>
              <dd class="col-xs-6 col-md-3">120.054</dd>

              <dt class="col-xs-6 col-md-3">Câmbio</dt>
              <dd class="col-xs-6 col-md-3">Automático</dd>
            </dl>
          </div>
          <div id="opcionais" class="tab-pane fade">
            <dl class="row">
              <dt class="col-xs-6 col-md-3">Ano</dt>
              <dd class="col-xs-6 col-md-3">2007/2007</dd>

              <dt class="col-xs-6 col-md-3">Cor</dt>
              <dd class="col-xs-6 col-md-3">Preto</dd>

              <dt class="col-xs-6 col-md-3">Quilometragem</dt>
              <dd class="col-xs-6 col-md-3">120.054</dd>

              <dt class="col-xs-6 col-md-3">Câmbio</dt>
              <dd class="col-xs-6 col-md-3">Automático</dd>

              <dt class="col-xs-6 col-md-3">Ano</dt>
              <dd class="col-xs-6 col-md-3">2007/2007</dd>

              <dt class="col-xs-6 col-md-3">Cor</dt>
              <dd class="col-xs-6 col-md-3">Preto</dd>

              <dt class="col-xs-6 col-md-3">Quilometragem</dt>
              <dd class="col-xs-6 col-md-3">120.054</dd>

              <dt class="col-xs-6 col-md-3">Câmbio</dt>
              <dd class="col-xs-6 col-md-3">Automático</dd>
            </dl>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% include 'shared/load-css.html' with {'css': 'used_car_detail.css'} %}
{% endblock %}
