select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.highlight-form {
  background-color: #fff; }
  .highlight-form h2 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0 0 14px 0; }
  .highlight-form [type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 20px auto; }
  .highlight-form textarea {
    min-height: 60px;
    resize: vertical; }
  @media (min-width: 1200px) {
    .highlight-form {
      background-color: #fff;
      padding: 30px 30px 0px 30px;
      border-radius: 4px;
      box-shadow: 0px 3px 46px 0px rgba(0, 0, 0, 0.32); } }

.form-group {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 5px; }
  .form-group label {
    font-size: 0.8em;
    margin-left: 15px;
    font-weight: normal;
    text-transform: uppercase;
    color: #848484; }

.form-control {
  box-shadow: none; }

.btn {
  border: 0;
  border-radius: 19px;
  font-size: 0.786em;
  font-weight: 700;
  text-transform: uppercase; }

.icon-container {
  position: relative; }
  .icon-container .form-control {
    padding: 6px 6px 6px 35px; }
  .icon-container i {
    color: #aaa;
    font-size: 12px;
    left: 16px;
    position: absolute;
    bottom: 14px; }
  .icon-container.col-lg-4 i {
    left: 31px; }

::-webkit-input-placeholder {
  color: #4b4b4b !important;
  font-size: 0.786em;
  font-weight: 700; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #4b4b4b !important;
  font-size: 0.786em;
  font-weight: 700; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4b4b4b !important;
  font-size: 0.786em;
  font-weight: 700; }

:-ms-input-placeholder {
  color: #4b4b4b !important;
  font-size: 0.786em;
  font-weight: 700; }

.dealers-form {
  background-color: #a51035; }

.especificacoes {
  color: #848484; }
  .especificacoes .select-version, .especificacoes h2 {
    color: #a51035; }
  .especificacoes h3 {
    margin: 0;
    padding: 20px 12px;
    background-color: #f0f0f0; }
  .especificacoes .lista-acessorios div {
    margin: 0 0 0 20px; }
  .especificacoes .lista-acessorios ul {
    overflow: hidden; }
  .especificacoes .lista-acessorios li {
    float: left;
    margin-left: 20px;
    width: calc( 100% / 3 - 22px); }
  .especificacoes .version_list {
    margin: 8px 0 0;
    border: solid rgba(0, 0, 0, 0.2);
    border-width: 0 0 1px 0;
    padding: 0; }
  .especificacoes .version_list .version_item {
    margin: 0 0 15px 20px;
    display: inline-block;
    vertical-align: middle; }
  .especificacoes .version_list .version_item label {
    cursor: pointer;
    margin: 0;
    padding: 0; }
  .especificacoes .version_list .version_item input {
    display: none; }
  .especificacoes .version_list .version_item i {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    background: linear-gradient(#fdfdfd, #e4e4e4);
    background: -o-linear-gradient(#fdfdfd, #e4e4e4); }
  .especificacoes .version_list .version_item i::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 3px;
    background: #666;
    transition: .3s;
    opacity: 0; }
  .especificacoes .version_list .version_item :checked + i::before {
    opacity: 1; }
  .especificacoes .version_list .version_item span {
    color: #202020;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    font-size: 13px;
    font-weight: 700; }
  .especificacoes .feature_list {
    margin: 18px 0 0;
    width: 100%; }
  .especificacoes .feature_list > .title .feature_title .title_item {
    min-height: 14px;
    margin: 0 0 18px;
    text-align: center;
    font-size: 14px;
    font-weight: 700; }
  .especificacoes .feature_list .feature {
    height: 27px; }
  .especificacoes .feature_list > * ul {
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 0;
    text-align: left; }
  .especificacoes .feature_list > * ul:first-of-type {
    border-top: 0px; }
  .especificacoes .feature_list > * ul li {
    width: 25%;
    display: inline-block;
    vertical-align: middle; }
  .especificacoes .feature_list > .title .feature_title .title_item {
    text-align: center; }
  .especificacoes .feature_list > .title .feature_title .title_item:first-of-type {
    margin: 0 0 30px 20%; }
  .especificacoes .feature_list .feature_item .feature_value .value_item {
    font-size: 14px;
    text-align: center;
    height: auto;
    line-height: 34px; }
  .especificacoes .feature_list .feature_item .feature_value .value_item.title {
    text-align: left;
    font-weight: bold;
    text-transform: capitalize;
    padding: 14px 10px;
    width: 20%; }
  .especificacoes .feature-list-mobile, .especificacoes .models-open-mobile {
    display: none; }
  .especificacoes .feature-list-mobile li {
    border-bottom: 1px solid #ccc;
    height: auto;
    list-style-type: none;
    padding: 10px 0 10px 0;
    text-align: center; }
  .especificacoes .feature-list-mobile li strong {
    text-transform: uppercase; }
  .especificacoes .feature-list-mobile .model-name {
    line-height: 50px; }
  @media (max-width: 1199px) {
    .especificacoes .feature_list, .especificacoes .models-open {
      display: none; }
    .especificacoes .feature-list-mobile, .especificacoes .models-open-mobile {
      display: block; }
    .especificacoes .feature-list-mobile .feature_item .feature_value .value_item {
      display: block !important; }
    .especificacoes .feature-list-mobile li {
      height: 60px; }
    .especificacoes .feature-list-mobile .model-name strong {
      font-size: 23px; } }
  @media (max-width: 767px) {
    .especificacoes .lista-acessorios li {
      float: none;
      margin: 0 auto;
      text-align: center;
      width: 100%; }
    .especificacoes .feature-list-mobile li {
      height: 70px; }
    .especificacoes .feature-list-mobile .model-name strong {
      font-size: 20px; } }

main {
  margin-top: 30px; }

.car-info {
  margin-top: 30px; }

h1 {
  font-size: 1.95em;
  margin-bottom: 26px;
  color: #a51035; }

h2 {
  margin: 0 0 14px 0;
  font-weight: bold;
  color: #a51035; }

#new-gallery h2, .especificacoes h2 {
  border-top: 1px solid #dedede;
  padding-top: 30px; }

p {
  color: #848484; }

#new-car {
  margin-top: 50px;
  width: 100%; }

.new-car-colors > li a {
  margin: 0 !important;
  display: block;
  border: 1px solid #dedede;
  width: 30px;
  height: 30px;
  margin: 0 5px; }

.test-drive-btn {
  display: block;
  margin-top: 30px;
  background-color: #a51035;
  line-height: 22px;
  padding: 24px 15px;
  font-size: 17px;
  width: 265px;
  height: 90px;
  text-align: left;
  color: #fff !important;
  border-radius: 0; }
  .test-drive-btn, .test-drive-btn:active {
    background-image: url(../images/fiat-logo.png); }
  .test-drive-btn small {
    display: block;
    font-size: 15px; }

.slick-arrow {
  margin-top: -10px; }
  .slick-arrow:first-child {
    left: -30px; }
  .slick-arrow:last-child {
    right: -30px; }

.slick-new-gallery {
  margin: auto 30px; }
  .slick-new-gallery .slick-slide {
    padding: 0 5px; }
  .slick-new-gallery i {
    height: 20px;
    width: 20px; }

@media (min-width: 992px) {
  .highlight-form {
    background-color: #fff;
    padding: 30px 30px 0px 30px;
    border-radius: 4px;
    box-shadow: 0px 3px 46px 0px rgba(0, 0, 0, 0.32); } }

.gallery-modal .modal-dialog {
  width: 65%; }
  .gallery-modal .modal-dialog img {
    width: 100%;
    max-height: 100%; }

/*# sourceMappingURL=car_detail.css.map */
