@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/interna-style";

#cars-list-structure-module{
  .car-category{
    margin: 15px 0;
    overflow: hidden;
    h2{
      width: 150px;
      left: 50%;
      position: relative;
      margin-left: -75px;
      margin-bottom: 30px;
      text-align: center;
      background-color: $gray-lighter;
      border-bottom: 1px solid #ddd;
      color: $gray;
      font-weight: 400;
      padding: 5px;
      
      &::before {
        content: '';
        width: 100%;
        height: 1px;
      }
    }
    .car {
      margin: 14px 10px 0 10px;
      
      img {
        width: 100%;
      }
      
      figcaption{
        position: absolute;
        top: 0;
        color: #4c4c4c;
      }
      
      .btn {
        width: 100px;
        position: relative;
        left: 0;
        display: block;
      }
    }
  }
}