@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual-3";

#offers-structure-module{

  .promo-car-2-module{
    h2{
      color: $brand-primary;
      font-size: 2.0em;
      margin: 0 0 2px 0;
    }
    .promo-car{
      border: 1px solid #eee;
      margin: 10px 0 30px;
      padding: 10px 15px;
      &:hover{
        border: 1px solid $brand-primary;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
      }
      img{
        margin: 10px 0 15px;
        width: 100%;
      }
      .validity{
        color: $brand-primary;
        font-size: 0.8em;
        font-weight: 400;
        margin: 8px 0;
      }
    }
    .promo-info{
      div{
        background-color: #f2f2f2;
        color: #000;
        font-weight: 700;
        overflow: hidden;
        padding: 7px;
      }
      span{
        text-transform: uppercase;
      }
      a{
        border-radius: 3px;
        font-size: 0.8em;
        font-weight: 400;
        text-transform: uppercase;
      }
    } 
  }
}

@media (min-width: $screen-lg-min){
  #offers-structure-module{
    .promo-car-2-module{
      .promo-car{
        overflow: hidden;
        .validity{
          float: left;
        }
      }
      h2{
        font-size: 1.9em;
      }
      .promo-info{
        div, a{
          float: left;
        }
        div{
          font-size: 0.8em;
          width: calc(100% / 2 - -15px);
        }
        a{
          font-size: 0.8em;
          padding: 6px 11px;
          width: calc(100% / 2 - 15px);
        }
      }
    }
  }
}