@import "base/conceptual";
@import "base/interna-style";

#regions-list-structure-viasul-fiat{
  padding: 30px 0;
  .regions{
    background-color: #eeeeee;
    padding: 30px 15px;
    overflow: hidden;
    ul{
      list-style-type: disc;
    }
    li{
      float: left;
      margin: 10px 0 10px 30px;
      width: calc( 100% - 30px);
    }
  }
}

@media (min-width: $screen-xs-min){
  #regions-list-structure-viasul-fiat{
    .regions{
      li{
        width: calc( 100% / 2 - 30px);
      }
    }
  }
}

@media (min-width: $screen-md-min){
  #regions-list-structure-viasul-fiat{
    .regions{
      li{
        width: calc( 100% / 4 - 30px);
      }
    }
  }
}