@import "base/conceptual";
@import "base/form";
@import "base/interna-style";

#workshop-tips-structure-viasul-fiat{
  padding: 30px 0;
  
  .icon-container i{
    left: 33px;
  }
  
  .wrap-info{
    border-bottom: 1px solid #ccc;
    margin: 25px 0 0 0;
  }
  
  .btn{
    margin: 10px 0 30px;
    padding: 10px 0;
    width: 100%;
  }
  
  .accordion-item:last-of-type a{
    border-bottom: 1px solid #ccc;
  }
  
  .accordion-item{
    background-color: #f3f3f3;
    font-size: 0.857em;
    text-transform: uppercase;
    a{
      border: 1px solid #ccc;
      border-bottom: 0px;
      color: #848484;
      cursor: pointer;
      display: block;
      overflow: hidden;
      padding: 15px 20px;
    }
    
    a.aberto{
      background-color: #fff;
      -webkit-transition: all .5s linear;
      -moz-transition: all .5s linear;
      -o-transition: all .5s linear;
      -ms-transition: all .5s linear;
      transition: all .5s linear;
      i{
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
    }
    
    h3{
      float: left;
      margin: 0;
    }
    
    i{
      float: right;
      margin: 4px 0 0 0;
    }
    
  }
  
  .accordion-content{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: none;
    padding: 20px 20px 30px;
    p{
      margin: 0;
    }
  }
  
}