@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/form";
@import "base/info-box";
@import "base/interna-style";

#workshop-structure-module{
  padding: 30px 0;
  .icon-container i{
    left: 33px;
  }
  
  .info-box-2, .info-box-3{
    margin: 10px 0;
  }
  
  .info-box-2{
    .top-content{
      margin: 0 0 10px 0;
    }
    .title{
      h3{
        font-size: 1.1em;
        margin: 10px 0;
      }
    }
    .unidade{
      margin: 0 10px;
    }
  }
  
  .info-box-3{
    .title{
      width: 200px;
    }
    i{
      height: 36px;
      width: 37px;
    }
    h3{
      font-size: 1.1em;
      margin: 0 0 15px;
    }
    .unidade{
      float: left;
      margin: 10px;
      h4{
        font-weight: 700;
        margin: 0 0 5px 0;
        text-transform: uppercase;
      }
    }
  }
  
  .workshop-info{
    float: left;
  }
  
  form button{
    margin: 10px 0 30px;
    padding: 10px 0;
    width: 100%;
  }
  
}

@media (min-width: $screen-xs-min){
  #workshop-structure-module{
    .info-box-3{
      .title{
        width: auto; 
      }
    }
  }
}

@media (min-width: $screen-sm-min){
  #workshop-structure-module{
    .info-box-2{
      .top-content{
        margin: 0;
        padding-top: 0;
      }
    }
    
    .info-box-3{
      .title{
        width: 215px;
      }
    }
  }
}

@media (min-width: $screen-md-min){
  
  #workshop-structure-module{    
    .info-box-3{
      .title{
        width: auto;
      }
    }
  }
  
}

@media (min-width: $screen-lg-min) {
  
}